<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ChattingDao">

	<select id="selectAll" parameterType="int" resultType="SocketVO">
		select * from `livechat` where challenge_id = #{challenge_id}
	</select>
	
	<insert id="insertChat" parameterType="SocketVO">
		insert into livechat (userName,content,challenge_id)
		values
		(#{userName},#{content},#{challenge_id})
	</insert>
	
	

	
</mapper>